body 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Start "About Me" CSS styling */
.about-me
{
    grid-column: 2 / 6;
}

h1
{
    text-align: center;
}

#my-photo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-me-content
{
    color: dodgerblue;
}

/* End "About Me" CSS styling */

/* Start Resume CSS styling */

.my-resume
{
    grid-column: 2 / 6;
    grid-row: 2 / 4;
}

/* End Resume CSS styling */

/* Start Skills section CSS styling */

.my-skills
{
    grid-column: 1 / 7;
    grid-row: 4 / 6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.skill-icon
{
    width: 100px;
    height: 100px;
}

#ruby
{
    padding-top: 100px;
    grid-column: 1 / 2;
    text-align: center;
}

#javascript
{
    padding-top: 100px;
    grid-column: 2 / 3;
    text-align: center;
}

#css
{
    padding-top: 100px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
}

#html
{
    padding-top: 100px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

#other-skills
{
    padding-top: 300px;
    grid-column: 3 / 5;
    grid-row: 1 / 2;

    text-align: center;
}

#js-icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ruby-icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#html-icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#css-icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End Skills section CSS styling */

/* Start Contact Me CSS styling */

.contact-me
{
    grid-column: 2 / 6;
    grid-row: 8 / 9;
}

/* End Contact Me CSS styling */

/* Start Footer CSS styling */

footer
{
    grid-column: 1 / 6;
    grid-row: 9 / 10;
}

.footer-icon
{
    width: 100px;
    height: 100px;
}
/* End Footer CSS styling */