@media only screen and (max-width: 768px)
{
    body
    {
        display: grid;
        grid-template-columns: repeat(10, 0.1fr);
        grid-template-rows: repeat(11, 0.1fr);
    }

    /* Start "About Me" CSS styling */
    .about-me
    {
        grid-column: 2 / 10;
    }

    h1
    {
        text-align: center;
    }

    #my-photo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #about-me-content
    {
        color: crimson;
    }
    /* End "About Me" CSS styling */
    
    /* Start Resume CSS styling */

    .my-resume
    {
        grid-column: 2 / 10;
        grid-row: 2 / 3;
    }

    #resume-title
    {
        text-align: center;
    }

    #exp1
    {
        text-align: left;
        list-style: none;
        padding-left: 0;
    }

    #exp2
    {
        text-align: left;
        list-style: none;
        padding-left: 0;
    }
    /* End Resume CSS styling */
    
    /* Start Skills section CSS styling */

    .my-skills
    {
        grid-column: 5 / 7;
        grid-row: 3 / 4;
    }

    #skill-title
    {
        text-align: center;
    }

    .skill-icon
    {
        width: 100px;
        height: 100px;
    }

    #ruby
    {
        grid-column: 4 / 8;
        grid-row: 4 / 5;
        text-align: center;
    }

    #javascript
    {
        grid-column: 4 / 8;
        grid-row: 5 / 6;
        text-align: center;
    }

    #html 
    {
        grid-column: 4 / 8;
        grid-row: 6 / 7;
        text-align: center;
    }

    #css 
    {
        grid-column: 4 / 8;
        grid-row: 7 / 8;
        text-align: center;
    }

    #other-skills
    {
        grid-column: 4 / 8;
        grid-row: 8 / 9;
        text-align: center;
    } 


    h2
    {
        text-align: center;
    }

    #other-skills-desc
    {
        grid-column: 6 / 8;
    }

    #other-skills-list
    {
        list-style: none;
        text-align: center;
        margin-right: 35px;
    }

    /* End Skills section CSS styling */

    /* Start Contact Me CSS styling */
    
    .contact-me
    {
        grid-column: 2 / 10;
        grid-row: 9 / 10;
    }

    #message
    {
        text-align: center;
    }

    form
    {
        text-align: center;
    }
    
    /* End Contact Me CSS styling */

    /* Start Footer CSS styling */
    
    .footer
    {
        grid-column: 1 / 11;
        grid-row: 11 / 12;
        display: flex;
        justify-content: space-around;
    }

    #footer-text
    {
        text-align: center;
        grid-column: 4 / 8;
        grid-row: 10 / 11;
    }

    .footer-icon
    {
        width: 100px;
        height: 100px;
    }
    

    /* End Footer CSS styling */

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    body 
    {
        display: grid;
        grid-template-columns: repeat(10, 0.1fr);
        grid-template-rows: repeat(10, 0.1fr);
    }
    
    /* Start "About Me" CSS styling */
    .about-me
    {
        grid-column: 4 / 8;
    }
    
    h1
    {
        text-align: center;
    }
    
    #my-photo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #about-me-content
    {
        color: dodgerblue;
    }
    
    /* End "About Me" CSS styling */
    
    /* Start Resume CSS styling */
    
    .my-resume
    {
        grid-column: 3 / 9;
        grid-row: 2 / 3;
    }

    #exp1
    {
        list-style: none;
    }

    #exp2
    {
        list-style: none;
    }
    
    #resume-title
    {
        text-align: center;
    }
    /* End Resume CSS styling */
    
    /* Start Skills section CSS styling */
    
    .my-skills
    {
        grid-column: 5 / 7;
        grid-row: 3 / 4;
    }
    
    .skill-icon
    {
        width: 100px;
        height: 100px;
    }

    #skill-title
    {
        text-align: center;
    }
    
    #ruby
    {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        text-align: center;
    }
    
    #javascript
    {
        grid-column: 4 / 6;
        grid-row: 4 / 5;
        text-align: center;
    }
    
    #css
    {
        grid-column: 4 / 6;
        grid-row: 5 / 6;
        text-align: center;
    }
    
    #html
    {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
        text-align: center;
    }
    
    #other-skills
    {
        padding: 50px;
        grid-column: 7 / 10;
        grid-row: 4 / 6;
        text-align: center;
    }
    
    #other-skills-list
    {
        list-style: none;
        text-align: center;
        margin-right: 40px;
    }
    #js-icon
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #ruby-icon
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #html-icon
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #css-icon
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* End Skills section CSS styling */
    
    /* Start Contact Me CSS styling */
    
    .contact-me
    {
        grid-column: 3 / 9;
        grid-row: 6 / 7;
    }

    form
    {
        padding-left: 100px;
    }

    #message
    {
        text-align: center;
    }
    
    #message-field
    {
        margin-left: 18px;
    }
    
    #button
    {
        margin-left: 120px;
    }
    /* End Contact Me CSS styling */
    
    /* Start Footer CSS styling */
    
    .footer-icon
    {
        width: 100px;
        height: 100px;
    }

    .footer
    {
        grid-column: 1 / 10;
        grid-row: 8 / 10;
        display: flex;
        justify-content: space-around;
    }

    #footer-text
    {
        grid-column: 4 / 8;
        grid-row: 7 / 8;
        text-align: center;
    }

    /* End Footer CSS styling */
}



